@import "./base/polices" ;
@import "./utils/variables" ;
@import "./base/normes";
@import "./utils/mixins";
@import "./components/boutons";

.presentation{
@include fond;

    &__position{
        background-color: #eaeaea;
        text-align: center;
        padding: .5px;
    }
    &__txt{
        
        @include flex-column;
    }
}
.fonction{
        @include flex-column;
        &__opt{
            @include flex-row;
            
            & p{
                @include cadre;
            @include fond;
            padding: 20px;
            font-size: medium;
            padding: 20px;
            .rond{
                color: $color-primary;
            }
            .opt{
                color: #7e7e7e;
            }
            }
        }
    
}
#restaurant{
    @include fond;
    .restau{
        &__prev{
            figure{
            @include cadre;
            overflow: hidden;
            background-color: white;
            margin: 10px;
            width: 340px;
            height: 240px;
            position: relative;
            .new{
                position: absolute;
                top: 15px;
                right: 15px;
                background-color: $color-terciary;
                color:#008766;
                padding: 3px;
                }
                &--txt{
                @include flex-row;
                }
                &--img{
                 z-index: -1;
                    .new{
                    position: relative;
                    z-index: 1;
                    object-position: right top;
                    }
                }        
            }    
        }
    }
}
header{
    h1 {
        text-align: center;
        img{
        @include logo;

        }
    }
}
