@import "./base/polices" ;
@import "./utils/variables" ;
@import "./base/normes";
@import "./utils/mixins";
@import "./components/boutons";

.presentation{
@include fond;

    &__position{
        background-color: #eaeaea;
        text-align: center;
    }
    &__txt{
        
        @include flex-column;
    }
}
.fonction{
        @include flex-column;
        &__opt{
            @include flex-row;
            
            & p{
                @include cadre;
            @include fond;
            padding: 20px;
            font-size: medium;
            .rond{
                color: $color-primary;
            }
            .opt{
                color: #7e7e7e;
            }
            }
        }
    
}
#restaurant{
    @include fond;
    .restau{
        &__prev{
            @include cadre;
            overflow: hidden;
            &--txt{
                @include flex-row;
            }
        }
    }
}
header{
    h1 {
        text-align: center;
        img{
        @include logo;

        }
    }
}
