footer{
    color:white;
    background-color:$color-sombre;
    padding: 10px;
    h4{
    margin: 0px 0px 10px 0px;
    }
    .ul__icone{
    font-size: small;
    }
    .contact{
        color: white;
    }
}
