
header{
    height: 50px;
    @include media-lg{
        height: 100px;
    }
    @include media-tab{
        height: 80px;
        padding-top: 10px;
    }
    h1 {
        text-align: center;
        margin: 15px;
        img{
        @include logo;

        }
    }
        a{
            border: none;
            background-color: white;
            font-size: x-large;
            position: relative;
            bottom: 50px;
            color: $color-sombre;
        }
}