@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
body {
  font-family: "roboto";
}
body p {
  font-weight: 400;
}
body h2 {
  font-weight: 700;
}
body h3 {
  font-weight: 700;
}
body .presentation__txt--p {
  font-weight: 300;
  font-size: large;
}
body footer h4 {
  font-family: "shrikhand";
  font-weight: normal;
  font-size: large;
}

body {
  z-index: 1;
  margin: 0%;
}
body img {
  object-fit: cover;
}
body h2 {
  margin: 40px 15px 10px 15px;
}
body a {
  text-decoration: none;
  color: black;
}
body ul {
  list-style-type: none;
  padding-left: 10px;
}
body ul li {
  margin: 5px;
}

img {
  width: 450px;
}

.btn {
  background-image: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0px 6px 9px -5px rgba(130, 130, 130, 0.88);
  border: none;
  color: white;
  font-size: medium;
  margin-bottom: 55px;
  margin-top: 25px;
}

.coeur {
  background-color: white;
  padding: 0;
  margin: 0;
  border: none;
}

header button {
  border: none;
  background-color: white;
  font-size: x-large;
  position: relative;
  bottom: 50px;
  color: #353535;
}

.loader {
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #f6f6f6;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 2967.04ms;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.28, 0.89, 0, 1.08);
}
.loader .cookie {
  animation: rotation-cookie;
  animation-duration: 900ms;
  animation-delay: 1000ms;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
  font-size: 250%;
  color: #cbb35e;
}
.loader .cook {
  animation: anim-opacity;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  font-size: 250%;
  color: #cbb35e;
}

.coeur:focus {
  outline: none;
}
.coeur:focus > .coeur__0 {
  opacity: 0;
  transition: 350ms;
}

@keyframes rotation-cookie {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes anim-opacity {
  0% {
    z-index: 3;
    opacity: 1;
  }
  10% {
    z-index: 3;
    opacity: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    z-index: 3;
    opacity: 0;
  }
  15% {
    z-index: 3;
    opacity: 1;
  }
  85% {
    z-index: 3;
    opacity: 1;
  }
  100% {
    z-index: 3;
    opacity: 0;
  }
}
header {
  height: 50px;
}
header h1 {
  text-align: center;
  margin: 15px;
}
header h1 img {
  width: 150px;
  height: 25px;
}
@media (max-width: 1023px) and (min-width: 740px) {
  header h1 img {
    width: 300px;
    height: 50px;
  }
}
@media (min-width: 1024px) {
  header h1 img {
    width: 500px;
    height: 85px;
  }
}

footer {
  color: white;
  background-color: #353535;
  padding: 10px;
}
@media (min-width: 1024px) {
  footer {
    width: 30%;
  }
}
footer h4 {
  margin: 0px 0px 10px 0px;
}

/*# sourceMappingURL=menu-style.css.map */
