@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
body {
  font-family: "roboto";
}
body .etablissement {
  font-family: "shrikhand";
}
body p {
  font-weight: 400;
}
body h2 {
  font-weight: 700;
}
body h3 {
  font-weight: 700;
}
body .presentation__txt--p {
  font-weight: 300;
  font-size: large;
}
body footer h4 {
  font-family: "shrikhand";
  font-weight: normal;
  font-size: large;
}

body {
  z-index: 1;
  margin: 0%;
}
body img {
  object-fit: cover;
}
body h2 {
  margin: 40px 15px 10px 15px;
}
body a {
  text-decoration: none;
  color: black;
}
body ul {
  list-style-type: none;
  padding-left: 10px;
}
body ul li {
  margin: 5px;
}
body .coeur {
  margin-right: 10px;
  padding: 0;
  margin: 0;
  border: none;
}
body .coeur__0 {
  position: relative;
  z-index: 1;
  right: -41px;
  color: #1f1f1f;
}
body .coeur__1 {
  color: #9356dc;
}
body :focus {
  outline: none;
}

.btn {
  background-image: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0px 6px 9px -5px rgba(130, 130, 130, 0.88);
  border: none;
  color: white;
  font-size: medium;
  margin-bottom: 25px;
  margin-top: 25px;
  width: 220px;
  align-self: center;
}

.loader {
  z-index: -1;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: #f6f6f6;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 2967.04ms;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.28, 0.89, 0, 1.08);
}
.loader .cookie {
  animation: rotation-cookie;
  animation-duration: 900ms;
  animation-delay: 1000ms;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
  font-size: 250%;
  color: #cbb35e;
}
.loader .cook {
  animation: anim-opacity;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  font-size: 250%;
  color: #cbb35e;
}

.coeur:focus > .coeur__0 {
  opacity: 0;
  transition: 688ms;
}

@keyframes rotation-cookie {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes anim-opacity {
  0% {
    z-index: 3;
    opacity: 1;
  }
  10% {
    z-index: 3;
    opacity: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    z-index: 3;
    opacity: 0;
  }
  15% {
    z-index: 3;
    opacity: 1;
  }
  85% {
    z-index: 3;
    opacity: 1;
  }
  100% {
    z-index: 3;
    opacity: 0;
  }
}
header {
  height: 50px;
}
@media (min-width: 1024px) {
  header {
    height: 100px;
  }
}
@media (max-width: 1023px) and (min-width: 740px) {
  header {
    height: 80px;
    padding-top: 10px;
  }
}
header h1 {
  text-align: center;
  margin: 15px;
}
header h1 img {
  width: 150px;
  height: 25px;
}
@media (max-width: 1023px) and (min-width: 740px) {
  header h1 img {
    width: 300px;
    height: 50px;
  }
}
@media (min-width: 1024px) {
  header h1 img {
    width: 500px;
    height: 85px;
  }
}
header a {
  border: none;
  background-color: white;
  font-size: x-large;
  position: relative;
  bottom: 50px;
  color: #353535;
}

footer {
  color: white;
  background-color: #353535;
  padding: 10px;
}
footer h4 {
  margin: 0px 0px 10px 0px;
}

#restaurant {
  background-color: #f6f6f6;
  padding-top: 10px;
}
@media (min-width: 1024px) {
  #restaurant {
    position: absolute;
    right: 30px;
    top: 170px;
    background-color: white;
    width: 65%;
    padding-top: 0px;
  }
}
#restaurant .restau {
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1023px) and (min-width: 740px) {
  #restaurant .restau {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  #restaurant .restau {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
  }
}
#restaurant .restau__prev figure {
  border-radius: 22px;
  box-shadow: 0px 6px 9px -5px rgba(130, 130, 130, 0.88);
  overflow: hidden;
  background-color: white;
  margin: 20px 10px 10px 10px;
  width: 340px;
  height: 240px;
  position: relative;
}
#restaurant .restau__prev figure .new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  color: #008766;
  padding: 6px 10px 6px 10px;
  font-size: smaller;
  font-weight: bold;
}
#restaurant .restau__prev--txt {
  display: flex;
  justify-content: space-between;
}
#restaurant .restau__prev--txt a div {
  margin: 8px 0px 0px 10px;
}
#restaurant .restau__prev--txt a div h3 {
  margin: 0px;
}
#restaurant .restau__prev--txt a div p {
  margin: 5px 0px 0px 0px;
}
#restaurant .restau__prev--txt .coeur {
  margin-right: 10px;
}
#restaurant .restau__prev--txt .coeur__0 {
  position: relative;
  z-index: 1;
  right: -41px;
  color: #1f1f1f;
  background-color: white;
}

.presentation {
  background-color: #f6f6f6;
}
@media (min-width: 1024px) {
  .presentation {
    width: 30%;
  }
}
.presentation__position {
  background: linear-gradient(to bottom, #cfcfcf 0%, #eaeaea 10%, #eaeaea 100%);
  text-align: center;
  padding: 0.5px;
}
@media (min-width: 1024px) {
  .presentation__position {
    position: absolute;
    right: 0px;
    left: 0px;
  }
}
.presentation__position p .marquer {
  position: relative;
  right: 10px;
}
.presentation__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 30px;
}
@media (min-width: 1024px) {
  .presentation__txt {
    padding-top: 70px;
  }
}
.presentation__txt h2 {
  padding: 0px 50px 0px 50px;
}

#fonctionnement {
  padding-bottom: 70px;
}
@media (min-width: 1024px) {
  #fonctionnement {
    width: 30%;
  }
}
#fonctionnement .fonction {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
@media (max-width: 1023px) and (min-width: 740px) {
  #fonctionnement .fonction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
#fonctionnement .fonction__opt {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 1024px) {
  #fonctionnement .fonction__opt {
    margin-left: 10px;
  }
}
#fonctionnement .fonction__opt p {
  border-radius: 22px;
  box-shadow: 0px 6px 9px -5px rgba(130, 130, 130, 0.88);
  background-color: #f6f6f6;
  padding: 20px;
  font-size: medium;
  padding: 20px;
  width: 260px;
  margin-bottom: 8px;
}
#fonctionnement .fonction__opt p .rond {
  color: #9356dc;
  position: relative;
  z-index: 0;
  right: 50px;
}
#fonctionnement .fonction__opt p .rond .cercle {
  font-size: x-large;
}
#fonctionnement .fonction__opt p .rond__chiffre {
  color: white;
  position: absolute;
  z-index: 1;
  left: 7px;
  bottom: 4px;
  font-size: small;
}
#fonctionnement .fonction__opt p .opt {
  color: #7e7e7e;
  font-size: x-large;
  position: relative;
  right: 15px;
}

img {
  width: 350px;
  height: 160px;
}

.ul__icone {
  font-size: small;
}

.coeur {
  background-color: white;
}
.coeur__0 {
  background-color: white;
}

img {
  width: 350px;
  height: 160px;
}

.ul__icone {
  font-size: small;
}

.coeur__1 {
  color: #9356dc;
}

@media (min-width: 1024px) {
  footer {
    width: 30%;
  }
}

/*# sourceMappingURL=stlye.css.map */
