@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
body {
  font-family: "roboto";
}
body p {
  font-weight: 400;
}
body h2 {
  font-weight: 700;
}
body h3 {
  font-weight: 700;
}
body .presentation__txt--p {
  font-weight: 300;
  font-size: large;
}
body footer {
  color: white;
  background-color: #353535;
}
body footer h3 {
  font-family: "shrikhand";
}

body img {
  width: 350px;
  height: 160px;
  object-fit: cover;
}
body h2 {
  margin: 40px 15px 10px 15px;
}
body a {
  text-decoration: none;
  color: black;
}
body ul {
  list-style-type: none;
}

.btn {
  background-image: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0px 6px 9px -5px rgba(130, 130, 130, 0.88);
  border: none;
  color: white;
  font-size: medium;
  margin-bottom: 55px;
  margin-top: 25px;
}

header h1 {
  margin: 15px;
}

.presentation {
  background-color: #f6f6f6;
}
.presentation__position {
  background: linear-gradient(to bottom, #cfcfcf 0%, #eaeaea 10%, #eaeaea 100%);
  text-align: center;
  padding: 0.5px;
}
.presentation__position p .marquer {
  position: relative;
  right: 10px;
}
.presentation__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#fonctionnement {
  padding-bottom: 70px;
}
#fonctionnement .fonction {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
#fonctionnement .fonction__opt {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#fonctionnement .fonction__opt p {
  border-radius: 22px;
  box-shadow: 0px 6px 9px -5px rgba(130, 130, 130, 0.88);
  background-color: #f6f6f6;
  padding: 20px;
  font-size: medium;
  padding: 20px;
  width: 260px;
  margin-bottom: 8px;
}
#fonctionnement .fonction__opt p .rond {
  color: #9356dc;
  position: relative;
  z-index: 0;
  right: 50px;
}
#fonctionnement .fonction__opt p .rond .cercle {
  font-size: x-large;
}
#fonctionnement .fonction__opt p .rond__chiffre {
  color: white;
  position: absolute;
  z-index: 1;
  left: 7px;
  bottom: 4px;
  font-size: small;
}
#fonctionnement .fonction__opt p .opt {
  color: #7e7e7e;
  font-size: x-large;
  position: relative;
  right: 15px;
}

#restaurant {
  background-color: #f6f6f6;
  padding-top: 10px;
}
#restaurant .restau__prev figure {
  border-radius: 22px;
  box-shadow: 0px 6px 9px -5px rgba(130, 130, 130, 0.88);
  overflow: hidden;
  background-color: white;
  margin: 20px 10px 10px 10px;
  width: 340px;
  height: 240px;
  position: relative;
}
#restaurant .restau__prev figure .new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  color: #008766;
  padding: 6px 10px 6px 10px;
  font-size: smaller;
  font-weight: bold;
}
#restaurant .restau__prev figure--txt {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#restaurant .restau__prev figure--img {
  z-index: -1;
}
#restaurant .restau__prev figure--img .new {
  position: relative;
  z-index: 1;
  object-position: right top;
}

header h1 {
  text-align: center;
}
header h1 img {
  width: 150px;
  height: 25px;
}

/*# sourceMappingURL=style.css.map */
