
.btn{
    @include degrade;
    @include btn;
    color: white;
    font-size: medium;
    margin-bottom: 25px;
    margin-top: 25px;
    
    

}


header{
    button{
        border: none;
        background-color: white;
        font-size: x-large;
        position: relative;
        bottom: 50px;
        color: $color-sombre;
    }
}