
.btn{
    @include degrade;
    @include btn;
    color: white;
    font-size: medium;
    margin-bottom: 55px;
    margin-top: 25px;
    
    

}
.coeur{
    background-color: white;
    padding: 0;
    margin: 0;
    border: none;
}
header{
    button{
        border: none;
        background-color: white;
        font-size: x-large;
        position: relative;
        bottom: 50px;
        color: $color-sombre;
    }
}