main{
    background-color: $color-fond;
    img{
        width: 450px;
    height: 350px;}
        .coeur{
         background-color:$color-fond;
         position: relative;
       
            &__0{
             background-color: $color-fond;
        }
    }
}