img{
    width: 350px;
    height: 160px;
}

.coeur{
    background-color: white;
   
    &__0{
        background-color: white;
        
    }
}
figure{
    background-color: white;
    width: 340px;
    height: 240px;
    .new{
        background-color: $color-terciary;
        color:#008766;
        font-size: smaller;
        font-weight: bold;
    }
}