body{z-index: 1;
margin: 0%;
    img{
        object-fit: cover;
    }
    h2{
        margin: 40px 15px 10px 15px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    ul{
    list-style-type: none;
    padding-left: 10px;
        
        li{
            margin: 5px;
        }
    }
    
    

}
