@import"../utils/media";
main{
    background-color: $color-fond;
    .heading{
        width: 450px;
        height: 350px;
        max-width: 100%;
        @include media-lg {
            width: 2000px;
        }
        @include media-tab{
            width:$tab-max;
            height: 300px;
        }
    }
    
    .principal{
        background-color: $color-fond;
        h2{
            @include media-tab{
                font-size: xx-large;
            }
    }
        .coeur{
         background-color:$color-fond;
         position: relative;
            @include media-lg{
            right: 30px;
        }
       
            &__0{
             background-color: $color-fond;
        }
    }
    .choix--coche{
        overflow: hidden;
        background-color:$color-terciary;
        color: white;
        position: absolute;
        transform-origin: right;
        width: 80px;
        height: 100%;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scaleX(0);
   border-radius: 0px 22px 22px 0px;
    }
    }}