body{z-index: 1;
margin: 0%;
    img{
        width: 350px;
        height: 160px;
       
       
        object-fit: cover;
    }
    h2{
        margin: 40px 15px 10px 15px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    ul{
    list-style-type: none;
    padding-left: 10px;
        .ul__icone{
            font-size: small;
        }
        li{
            margin: 5px;
        }
    }
    .coeur__1{
        color: $color-primary;
    }
    footer{
        padding: 10px;
        h4{
            margin: 0px 0px 10px 0px;
        }
       
    }

}
