body{
    img{
        width: 350px;
        height: 160px;
       
       
        object-fit: cover;
    }
    a{
        text-decoration: none;
        color: black;
    }
    ul{
    list-style-type: none;
    }
}