.cook, .cookie{
    font-size:250%;
     color:#cbb35e;
   
   }
   .loader{
     background-color:rgb(122 88 55);
     position: fixed;
     height: 100%;
     width: 100%;
     background-color: rgba(122, 88, 55, 0.8);
     opacity: 0;
     display: flex;
     justify-content: center;
     align-items: center;
   }
  
   
   
   .loader .cookie{
    animation:rotation-cookie;
     animation-duration:900ms;
     animation-delay:1000ms;
     animation-iteration-count:2;
     animation-timing-function:ease-in-out;
   }
   .loader .cook{
     animation:opa-cookie;
     animation-duration:600ms;
     animation-delay: 400ms;
     animation-fill-mode:forwards;
   }
   .loader{
    animation: loader 3000ms;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
   
}
