#fonctionnement{
    padding-bottom: 70px;
    @include media-lg{
        width: 30%;
    } 
.fonction{
        @include flex-column;
        @include media-tab{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__opt{
            display: flex;
            justify-content: space-around;
            
            & p{
                @include cadre;
            @include fond;
            padding: 20px;
            font-size: medium;
            padding: 20px;
            width: 260px;
            margin-bottom: 8px;
            .rond{
                color: $color-primary;
                position: relative;
                z-index: 0;
               
                right: 50px;
                .cercle{
                    font-size:x-large;
                }
                &__chiffre{
                    color: white;
                    position: absolute;
                    z-index: 1;
                    left: 7px;
                    bottom: 4px;
                    font-size: small;
                }
            }
            .opt{
                color: #7e7e7e;
                font-size: x-large;
                position:relative;
                right: 15px; 
                ;
            }
            }
        }
}
}