main{
    @include media-lg{
        display: flex;
    }
    #presentation__fonctionnement{
        @include media-lg{
            display: flex;
            flex-direction: column;
        }
    }
}
