.loader{
    @include fond;
    z-index: -1;
    position: fixed;
    top:0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .cookie, .cook{
   @include cookie;
    }
    
}