.presentation{
    @include fond;
    
        &__position{
            background: linear-gradient(to bottom, #cfcfcf 0%, #eaeaea 10%, #eaeaea 100%);
            text-align: center;
            padding: .5px;
            p{
                .marquer{
                    position: relative;
                    right:10px;
                }
            }
        }
        &__txt{
            
            @include flex-column;
            
        }
    }