
   .loader{
     z-index: -1;
     
     position: fixed;
     height: 100%;
     width: 100%;
     background-color: $color-fond;
     opacity: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     animation: loader 2967.04ms;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(.28,.89,0,1.08);
    
    .cookie{
        animation:rotation-cookie;
         animation-duration:900ms;
         animation-delay:1000ms;
         animation-iteration-count:2;
         animation-timing-function:ease-in-out;
         font-size:250%;
         color:#cbb35e;
       }
       .cook{
        animation:anim-opacity;
        animation-duration:600ms;
        animation-fill-mode:forwards;
        font-size:250%;
        color:#cbb35e;
      }
   }
   
  
     
   
   
   
   .coeur:focus{
     outline: none;
     
     &>.coeur__0{
      opacity: 0;
      transition: 688ms;
  
     } 
   }
 
  
    
  
  
  
  
  
   
   
   
   
   
