$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-terciary:#99e2d0;
$color-fond:#f6f6f6;
$color-sombre:#353535;
$color-opt:#7e7e7e;
$tab-min:740px;
$tab-max:1023px;
$screen-lg:1024px;
$color-primary-clr: lighten($color-primary,10%);
$color-ombre:rgba(130,130,130,0.88);
$ombre-dark:darken($color-ombre,20%);
$color-cookie:#cbb35e;
$size-cookie:250%;
$color-opt-clr: lighten($color-primary,33%);